
* {
    box-sizing: border-box;
}

body {
    background: #211D19;
    padding: 50px;
}

a {
    color: #466B55;
    text-decoration: none;
}

img {
    margin: 5px;
}

.nav {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}

.nav li a:hover {
    color: #c00;
    background-color: #fff;
}

#login {
    float: right;
}

.login {
    color: white;
    text-align: center;
    padding-top: 80px;
}

.login input {
    margin: 3px;
}

.card {
    height: 100px;
}

.table {
    background: url(../img/table-texture.png);
    border-radius: 10%;

    padding: 50px;

    width: 420px;
    height: 150px;

    margin: 0 auto;
}

.players {
    margin: 20px auto;
    width: 600px;
}

.hand {
    color: white;

    width: 200px;
    height: 200px;
/* background : grey; */
    padding: 20px;

    margin: 20px;

    float: left;
}
